/*배경 이미지 고정*/
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(./../public/Img/StoreIMG.jpg) no-repeat center center rgba(82, 82, 82, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}
/*헤더 영역 고정*/
header {
  height: 80px;
}
/*로고 이미지 고정*/
#logo {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 45px;
  background: url(./../public/Img/ProjectLogoEX.png) no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
/*각 페이지의 타이틀 text*/
#title {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  color: rgb(240, 240, 240);
  cursor: grab;
}
/*로그인,회원가입 기본 input창*/
.base-input {
  height: 23%;
  stroke: none;
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
  padding: 0 1.6ch;
  font-weight: 500;
  margin-bottom: 7px;
  letter-spacing: 1.5px;
  background-color: f2f5fb;
}
/*알림문구 verification*/
.verification {
  height: 15%;
  margin-left: 1%;
  color: rgb(245, 59, 59);
  font-size: 0.9em;
  font-weight: 600;
}
/*-로그인,회원가입 기본 핑크 버튼*/
.base-button {
  height: 26%;
  border-radius: 10px;
  color: rgb(44, 44, 44);
  font-size: 1em;
  font-weight: 600;
  border: 1px solid rgb(194, 152, 152);
  background-color: rgb(211, 165, 165);
  cursor: pointer;
}