.client-info-bt{
  width: 250px;
  height: 67px;
  background-color: #fff;
  border-bottom: #fff;
  border-right: #fff;
  border-top: #fff;
  cursor: pointer;
}

.client-info{ 
  font-size: 25px;
  text-align: center;
  color: #000;
  font-weight: bolder;
}

.favorite-li-bt{
  width: 250px;
  height: 67px;
  background-color: #fff;
  border-top: #fff;
  border-bottom: #fff;
  border-right: #fff;
  cursor: pointer;
}

.favorite-li{
  font-size: 25px;
  text-align: center;
  color: #000;
  font-weight: bolder;
}