/*전체를 감싸는 div*/
.entire-container {
  display: flex;
  flex-flow: column wrap;
}
/*배경 이미지 고정*/ /*fixed제거, width&height % -> vw 변경*/
.main-section {
  width: 100vw;
  height: 100vh;
  background: url(../../public/Img/StoreIMG.jpg) no-repeat center center rgba(82, 82, 82, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}
/*메인 타이틀*/
#main-title {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  color: rgb(240, 240, 240);
  cursor: grab;
}
/*main div*/
.main-container {
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/*map 버튼*/
#home-map-button {
  width: 380px;
  height: 35px;
  border-radius: 4px;
  color: rgb(240, 240, 240);
  font-size: 0.9em;
  font-weight: 400;
  border: 1.5px solid rgb(240, 240, 240, 0.6);;
  background-color: rgb(240, 240, 240, 0.3);;
  cursor: pointer;
  margin-top: 45px;
}
/*scroll-down div*/
.down-button-container {
  height: 20%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
/*다운 스크롤 아이콘*/
#down-icon {
  color: rgb(240, 240, 240, 0.8);
  cursor: pointer;
}
/*다운 스크롤 text*/
#down-text {
  color: rgb(240, 240, 240, 0.8);
  font-size: 0.85em;
  text-align: center;
  cursor: pointer;
}

.client-pt-container{
  /* background-color: peru; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}

.about-open-spot-container{
  /* background-color: powderblue; */
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-title{
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  color: rgb(56, 55, 55);
  cursor: grab;
}

.client-pt-section{
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: orchid; */
}

.pt-section{
  /* background-color: blue; */
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.pt-map-img{
  width: 90%;
  height: 70%;
  border-radius: 500%;
  background-image: url(../../public/Img/Map.png);
}

.pt-notification-img{
  width: 90%;
  height: 70%;
  border-radius: 500%;
  background-image: url(../../public/Img/Notification.png);
}

.pt-reservation-img{
  width: 90%;
  height: 70%;
  border-radius: 500%;
  background-image: url(../../public/Img/Reservation.png);
}

.pt-text-box{
  /* background-color: burlywood; */
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}

.pt-sequence{
  font-size: 60px;
}

.pt-text{
  /* background-color: orange; */
  margin-left: 20px;
  text-align: center;
  box-shadow: inset 0 -5px 0 rgb(240, 240, 240, 0.6);
  line-height: 21px;
}
.business-pt-container{
  /* background-color: powderblue; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.about-business-container{
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90%;
  height: 30%;
  border-top: 1px solid rgb(56, 55, 55);
}

.third-title{
  font-size: 3.5em;
  font-weight: 300;
  color: rgb(56, 55, 55);
  cursor: grab;
}

.business-pt-section{
  /* background-color: red; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: flex-start; */
  align-items: center;
  width: 90%;
  height: 40%;
  border-top: 1px solid rgb(56, 55, 55);;
}

.business-pt-box{
  /* background-color: royalblue; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 23%;
  height: 90%;
}

.pt-about-business{
  /* background-color: salmon; */
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}

.business-pt-sequence{
  font-size: 20px;
  font-weight: bolder;
}

.business-pt-text{
  font-size: 20px;
  font-weight: bolder;
}

.pt-detaile-box{
  /* background-color: salmon; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70%;
}

.detaile-text{
  color: #B2B2B2;
}

.detaile-box{
  text-align: center;
  color: #B2B2B2;
  font-weight: bolder;
}